
extends ../../layout/default.pug


block main 
    h1(class = "mb-4") Chinh sua 

    form(
        action= `${prefixAdmin}/my-account/edit?_method=PATCH`
        enctype="multipart/form-data"
        method = "POST"
    ) 

        div(class = "form-group")
            label(for="fullName") Ho ten 
            input(
                type="text"
                class = "form-control"
                id = "fullName"
                name = "fullName"
                value = user.fullName
            ) 
        div(class = "form-group")
            label(for="email") Email
            input(
                type="text"
                class = "form-control"
                id = "email"
                name = "email"
                value = user.email
            ) 
        div(class = "form-group")
            label(for="passWord") Mat Khau
            input(
                type="passWord"
                class = "form-control"
                id = "passWord"
                name = "passWord"
            ) 
        div(class = "form-group")
            label(for="phone") So dien thoai
            input(
                type="number"
                class = "form-control"
                id = "phone"
                name = "phone"
                value = user.phone
            ) 
        
        
        div(
            class = "form-group"
            upload-image
        )
            
            label(for="avatar") Anh
            input(
                type="file"
                class = "form-control-file"
                id = "avatar"
                name = "avatar"
                accept = "image/*"
                upload-image-input
            ) 
            button(
                class = "btn-cencel-upload hidden"
                cencel-upload) X
            
            img(
                src= user.avatar
                class = "image-preview"
                upload-image-preview
            )
       
       
        div(class = "form-group")
            button(
                type = "submit"
                class = "btn btn-primary"
            ) Cap nhat
